*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #b0c4de;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ffffff;
    font-size: 48px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main {
    display: flex;
    gap: 50px;
    flex-direction: column;
    flex: 1;
}

.main-upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#score-info {
    font-size: 32px;
}

#score-message {
    font-size: 22px;
}

.score-card,
.weapon {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin: 0px 100px;
}


button {

  background: #1abc9c;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #16a085;
  transform: scale(1.05);
}